.footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: #042b25;
  padding: 10px 0;
  text-align: center;
}

.footer2 {
  width: 100%;
  position: fixed;
  bottom: 80px; /* This makes .footer2 sit right above .footer */
  background-color: #042b25;
  padding: 20px 0;
  text-align: center;
}
