body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1a1a1a;
}

nav {
  margin: 0;
}

nav {
  position: relative;
  display: inline-block;
  background-color: #34495e;
  border-radius: 8px;
  font-size: 0;
  height: 50px;
}

nav a {
  line-height: 50px;
  height: 100%;
  font-size: 15px;
  display: inline-block;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: white;
  cursor: pointer;
  background-color: transparent;
  z-index: 2;
}

nav .animation {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100px;
  background-color: #1abc9c;
  z-index: 1;
  transition: left 0.3s ease, width 0.3s ease;
}

.animation {
  border-radius: 8px;
}

a:nth-child(1) {
  width: 100px;
}
a:nth-child(2) {
  width: 110px;
}
a:nth-child(3) {
  width: 100px;
}

a:nth-child(1):hover ~ .animation,
a:nth-child(1):focus ~ .animation {
  left: 0;
  width: 100px;
}
a:nth-child(2):hover ~ .animation,
a:nth-child(2):focus ~ .animation {
  left: 100px;
  width: 110px;
}
a:nth-child(3):hover ~ .animation,
a:nth-child(3):focus ~ .animation {
  left: 210px;
  width: 100px;
}

nav:hover .animation {
  left: 0;
  width: 100px;
}

nav:not(:hover) .animation {
  transition: none;
  top: -9999px;
}

/* Here is the child for the link */

a:nth-child(4) {
  width: 120px;
}

a:nth-child(4):hover ~ .animation,
a:nth-child(4):focus ~ .animation {
  left: 310px;
  width: 120px;
}
/* ---------------------------------- */
